body {
  margin: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-container{
  display: flex;
  padding: 15px;
  height: 10vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top-button{
  height: 50px;
}

.user-container{
  width: auto;
  height: 100%;
}

.disp-container{
  display: flex;
  padding: 15px;
  justify-content: flex-start;
}

.disp-name{
  width: 50%;
}

.disp-email{
  width: 20%;
}

.disp-gender{
  width: 10%;
}

.disp-status{
  width: 10%;
}