:root{
  --primary: rgb(122, 122, 122)
}

body {
  margin: 2%;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-container{
  display: flex;
  padding: 15px;
  height: 10vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top-button{
  height: 50px;
}

.user-container{
  width: auto;
  height: 100%;
}

.disp-legend{
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.45);
}

.disp-legend div{
  font-size: larger;
  cursor: pointer;
}

.disp-legend div:hover{
  font-weight: bold;
}

.disp-container{
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}

.disp-name{
  width: 50%;
  border-right: 1px solid var(--primary); 
  margin-right: 5px;
}

.disp-email{
  width: 20%;
  border-right: 1px solid var(--primary); 
  margin-right: 5px;
}

.disp-gender{
  width: 20%;
  border-right: 1px solid var(--primary); 
  margin-right: 5px;
}

.disp-status{
  display: flex;
  justify-content: space-between;
  width: 10%;
  
}

.disp-delete{
  background-color:aliceblue;
  border-radius: 50px 20px;
  cursor: pointer;
  width: auto;
  padding: 5px;
  height: auto;
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 15px;
}

.form-input{
  width: 50vh;
}

.btn-Add{
  width: 51vh;
}

.error-msg{
  color:crimson;
  margin-bottom: 0px;
}
