:root{
  --primary: rgb(122, 122, 122)
}

body {
  margin: 2%;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.top-container{
  display: flex;
  padding: 15px;
  height: 10vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top-button{
  height: 50px;
}

.user-container{
  width: auto;
  height: 100%;
}

/*    List      */

.disp-legend{
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.45);
}

.disp-legend div{
  font-size: larger;
  cursor: pointer;
}

.disp-legend div:hover{
  font-weight: bold;
}

.disp-container{
  display: flex;
  padding: 15px;
  justify-content: flex-start;
}

.disp-name{
  flex: 3;
  border-right: 1px solid var(--primary); 
  margin-right: 5px;
  flex-grow: 2;
}

.disp-email{
  flex: 2;
  border-right: 1px solid var(--primary); 
  margin-right: 5px;
  flex-grow: 2;
  overflow:auto;
}

.disp-gender{
  flex: 1;
  border-right: 1px solid var(--primary); 
  margin-right: 5px;
  flex-grow: 1;
}

.disp-status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-grow: 1;
  
}

.disp-delete{
  background-color:transparent;
  border: transparent;
  cursor: pointer;
  width: auto;
  padding: 5px;
  height: auto;
  text-align: center;
}

.disp-delete:hover{
  font-weight: bold;
}

/*    Form      */

.form{
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 15px;
}

.form-input{
  width: 50vh;
}

.btn-Add{
  width: 51vh;
}

.error-msg{
  color:crimson;
  margin-bottom: 0px;
}

/*    Alert     */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.alert-msg{
  height: 20vh;
  max-width: 40%;
  max-height: 80%;
  margin: 30vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  background-color: rgb(243, 237, 233);
  border: 3px solid white;
}

.alert-msg h1{
  color: #ff4a4a;
  text-align: center;
}